a{
    text-decoration: none;
}
.nav-all{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}
.nav-all a{
    color: #575757;
    font-weight: 700;
    margin: 0 10px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sign{
    color: #575757;
}
.buttons a{
    margin-right: 11px;
}
.button{
    background-color:#175CFF;
    color: #fff;
    padding: 11px 20px;
    border-radius: 5px;
}

@media only screen and (min-width: 992px){
    header .buttons i{
        display: none;
    }
    
}

@media all and (min-width: 768px) and (max-width: 992px) {
  header .nav-all a{
     display: none;
  }
  #offers-all .offer{
    margin-top: 30px;
  }
  #match .row{
    flex-direction: column-reverse;
  }
  #about-all .employees-all{
    flex-wrap: wrap;
    /* align-items: flex-start; */
  }
  #about-all .employee{
    width: 32%;
    
  }
  #work-process .row{
    flex-direction: column-reverse;
  }
  #pricing .icons-all{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  #pricing .icon{
    margin-top: 20px;
  }
  #pricing .title{
    width: 100% !important;
  }
  #pricing .service{
    margin-top: 20px;
  }
  #faq .text p{
    width: 100% !important;
 }
  
}
   


@media only screen and (max-width: 768px) {
  header .buttons a{
     display: none;
  }
  header .nav-all{
    display: none;
  }
  .offer .col-4{
    display: none;
  }
 #offers-all .offer{
    margin-top: 30px;
  }
  #analytics-all .list{
   flex-direction: column;
  }
  #match .row{
    flex-direction: column-reverse;
  }
  #about-all .employees-all{
    flex-wrap: wrap;
  }
  
  #about-all .employees-all{
    flex-wrap: wrap;
  }
  #about-all .employee{
    width: 48% !important;
  }
  #work-process .row{
    flex-direction: column-reverse;
  }
  #pricing .icons-all{
    flex-wrap: wrap;
  }
  #pricing .icon{
    margin-top: 20px;
  }
  #pricing .title{
    width: 100% !important;
  }
  #pricing .service{
    margin-top: 20px;
  }
 #faq .text p{
    width: 100% !important;
 }
}

#first{
    background-image: url(/assets/image/background-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
     margin-top: 20px;
}
#first .text{
    margin-bottom: 40px;
}
#first .text h1{
    font-size: 50px;
    color: #fff;
}
#first .text p{
   font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.button-all{
    padding: 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.watch{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.watch i{
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    align-items: center;
}
.watch span{
    color: #b3b3b9;
}
 
#first .image img{
    width: 100%;
}
.clients{
    margin-top: 50px;
}
.clients h2{
    font-size: 20px;
    color: #b3b3b9;
}
#features-all{
    background-color: #f8f9fa;
    padding: 6rem 0;
}
#features-all .text{
    text-align: center;
}
#features-all .text h1{
    font-size: 40px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto 20px;
}
#features-all .text p{
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    color: #575757;
}
#features-all .feature i{
    font-size: 25px;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 20px;
}
.feature{
    text-align: center;
    margin: 7rem 0;
    padding: 0 52px;
}
.feature p{
    color: #575757;
}
#offers-all{
    background-color: #f8f9fa;
    padding-bottom: 10rem;
}
.offer{ 
    border-radius: 15px;
    padding: 30px 40px ;
}
.offer h1{
    font-size: 20px;
    font-weight: bold;
}
.offer p{
    margin-bottom: 30px;
}
.offer img{
    width: 100%;
    margin-bottom: -30px;
}
.offer a{
    color: #175CFF;
    border: 2px solid #175CFF;
    padding: 8px 20px;
    border-radius: 5px;
}
#analytics-all{
    padding: 5rem 0;
}
#analytics-all .text .icon{
    font-size: 20px;
    color: #fff;
    background-color: #175CFF;
    border-radius: 15px;
    padding: 20px;
}
#analytics-all .text h1{
    margin-top: 30px;
    width: 90%;
    font-weight: bold;
}
#analytics-all .text p{
    width: 90%;
    color: #575757;
    margin: 30px 0;
}

#analytics-all .list{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
#analytics-all .list i{
    font-size: 10px;
    color:#fff;
    background-color: #175CFF;
    padding: 3px;
    border-radius: 50%;
}
#analytics-all .text a{
    color: #175CFF;
    font-weight: 500;
}
#analytics-all .image{
    width: 100%;
}
#analytics-all .image img{
    width: 100%;
    align-items: center;
}
#analytics-all .list .list-left{
    margin-right: 40px;
}
#analytics-all .list li{
    list-style: none;
    padding: 5px 0;
}
#match{
    padding-bottom: 5rem;
}
#match .img img{
    width: 100%;
   
}
#match .img{
    width: 100%;
}
#match .text{
    padding-left: 7rem;
}
#match .text i{
    font-size: 20px;
    color: #fff;
    background-color: #0b163f;
    border-radius: 15px;
    padding: 20px;
}
#match .text h1{
    margin-top: 30px;
    font-weight: bold;
}
#match .text p{
    color: #575757;
    margin: 30px 0;
}
#match a{
    padding-left: 7rem ;
}
#match .text{
    padding-top: 50px;
}
#about-all{
    padding: 6rem 0;
    background: linear-gradient(90deg,#071c4d,#002d97) !important;
}
#about-all .text{
    text-align: center;
    width: 50%;
    margin: 0   auto;
}
#about-all .text h3{
    color: #ffb116;
    font-size: 22px;
}
#about-all .text h1{
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}
#about-all .text p{
    color: #d9d9d9;
}
#about-all .about{
    margin-top: 50px;
}
#about-all .about img{
    width: 10%;
}
#about-all .about h2{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
#about-all .stars{
    margin-bottom: 30px;
}
#about-all .stars i{
    color: #ffb116;
    font-size: 12px;
}
#about-all p{
    color:#d9d9d9;
    font-size: 20px;
}
#about-all h5{
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
}
#about-all h6{
    color: #d9d9d9;
    font-size: 16px;
    font-weight: lighter;
}
#about-all .image{
    width: 100%;
    margin: 20px 0 0 20px;
}
#about-all .about{
    width: 100%;
    position: relative;
}
#about-all .image img{
    width: 80%;
    border-radius: 20px;
}
#about-all a i{
    color: #fff;
    background-color: #175CFF;
    padding: 15px;
    border-radius: 50%;
}
#about-all a span{
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}
#about-all .about a{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
#about-all .employees-all{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
#about-all .employee{ 
    display: flex;
    align-items: center;
    width: 18%;
    background-color:black;
    padding: 10px 0 10px 10px;
    border: 3px solid #6565651a!important;
    background-color: rgba(255,255,255,.05)!important;
    border-radius: 10%;
    margin: 0 5px;
}
#about-all .employee .img{
    width: 20%;
}
#about-all .employee img{
    width: 100%;
    border-radius: 50%;
}
#about-all .employee h4{
    color: #fff;
    font-size: 12px;
}
#about-all .employee .text{
    text-align: justify;
}
#work-process{
    padding: 6rem 0;
}
#work-process .title{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#work-process .title h4{
    color: #175CFF;
}
#work-process .title h1{
    font-weight: bold;
}
#work-process .title p{
    color:#575757;
}
#work-process .steps-all{
    margin-top: 30px;
}
#work-process .image{
    margin-top: 30px;
    width: 85%;
}
#work-process .image img{
    width: 100%;
    border-radius: 3%;
}

#work-process .steps-all .text h3{
    color: #175CFF;
    font-size: 18px;
}
#work-process .steps-all .text h1{
    font-size: 24px;
}
#work-process .steps-all .text p{
    color: #575757;
}
#work-process .step{
    margin: 25px 0;
    display: flex;
}
#work-process .step .icon{
    margin-right: 20px;
}
#work-process .icon i{
    color:#b3b3b9;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}
#pricing{
    padding: 5rem 0;
}
#pricing .title{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#pricing .title h4{
    color: #175CFF;
}
#pricing .title h1{
    font-weight: bold;
}
#pricing .title p{
    color: #575757;
}
#pricing .icons-all{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
#pricing .icon{
    display: flex;
    align-items: center;
    
}
#pricing .icon i{
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    margin-right: 20px;
}
#pricing .icon h5{
    font-size: 18px;
    font-weight: bold;
    color: #0b163f;
}
.services-all{
    
    border-radius: 10px;
    margin: 5rem 0;
}
.services-all .up h5{
    color: #175CFF;
}
.services-all .up h1{
    font-size: 40px;
    font-weight: bold;
}
.services-all .up h1 span{
    font-size: 14px;
    color: #575757;
    font-weight: lighter;
}
.services-all .list{
    margin: 50px 0;
}
.services-all .list li{
    list-style: none;
    color: #575757;
    margin: 10px 0;
}
.services-all .first-third .list li i{
    font-size: 8px;
    color: #175CFF;
    margin-right: 10px;
}
.first-third{
    background-color: #fff;
}
.services-all .second{
    background-color:#071c4d;
}
.second .up h5{
    color: #ffb116;
}
.second .up h1{
    color: #fff;
}
.second .up h1 span{
    color: #d9d9d9;
}
.second .list li{
    color: #d9d9d9;
}
.second .list li i{
    font-size: 8px;
    color: #ffb116;
    margin-right: 10px;
}
.second a{
    color: #fff;
    background-color: #175CFF;
}
.service{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    border-radius: 15px;
    padding: 4rem 40px;
}
.service a{
    padding: 10px 20px;
    border: 2px solid #175CFF;
    border-radius: 10px;
}
#faq{
    background-color: #f8f9fa;
    padding: 5rem 0;
}
#faq .text{
    text-align: center;   
}
#faq .text h5{
    color: #175CFF;
}
#faq .text h1{
    font-size: 40px;
    font-weight: bold;
}
#faq .text p{
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    color: #575757;
}
#faq .faq-text-all{
    margin-top: 50px;
}
#faq .faq-text{
    width: 80%;
    margin: 30px 0;
}
#faq .faq-text span{
    font-size: 30px;
    color: #175CFF;
}
#faq .faq-text h2{
    font-size: 22px;
}
#faq .faq-text p{
    color: #575757;
}
#faq .faq-image{
    width: 100%;
    margin-top: 30px;
}
#faq .faq-image img{
    width: 100%;
}
#google{
    padding: 5rem 0;
}
#google .cards-all{
    padding: 0 7rem;
}
#google .cards{
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 40px 40px;
}
#google .image{
    width: 100%;
    
}
#google .image img{
    width: 10%;
}
#google .cards h4{
    
    text-align: right;
    color: #175CFF;
    
    font-size: 14px;
}
#google .cards h1{
    font-size: 20px;
    margin-top: 20px;
}
#google .cards p{
    color: #575757;
    font-size: 16px;
}
#support .color{
    background-color:#0b163f;
    border-radius: 20px;
    padding: 6rem 0;
    margin-bottom: 5rem;
}
#support .text{
    text-align: center;
}
#support .text h4{
    color: #ffb116;
}
#support .text h1{
    color: #fff;
}
#support .text p{
    color:#f8f9fa;
}
#support .support-buttons{
    text-align: center;
    margin-top: 60px;
}
#support .support-options{
    text-align: center;
}
#support .support-options{
    color: #b3b3b9;
    margin-top: 30px;
}
#support .support-options span{
    margin: 0 10px;
}
#support .support-options span i{
    font-size: 10px;
    color: #175CFF;
    border: 1px solid #175CFF;
    border-radius: 50%;
    padding: 3px;
    margin-right: 5px;
}














